@charset "UTF-8";
* {
	box-sizing: border-box;
	margin: 0;
	padding:0;
}
html {
	height: 100vh;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

section.main {
	flex:1;
}

header {
	padding:1.3rem;
	text-align: center;
	background-color: green;
	color:white;
	text-shadow: 1px 1px 1px black;
}

footer {
	background-color: #ddd;
	text-align: center;
	padding:0.9rem;
}






